<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles/login-application.css" />
  </head>
  <body>
    <div class="section">
      <div class="main-frame">
        <img class="wolox-logo" src="styles/LogoWolox.png" alt="Logo Wolox" />
        <form class="border">
          <label class="data">Email</label>
          <input class ="forms" type="email" id="email" name="email" />
          <label class="data">Password</label>
          <input class ="forms" type="password" id="email" name="email" />
          <button
            class="login"
            onclick="window.location.href='books-list.html';"
            type="submit"
          >
            Login
          </button>
        </form>
        <a class ="signup" href=#>Sign Up</a>
      </div>
    </div>
  </body>
</html>
