* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #999;
  font-size: 20px;
  font-weight: 400;
  line-height: normal; }
  h1:focus,
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus,
  p:focus,
  span:focus,
  label:focus,
  input:focus,
  a:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  table-layout: fixed; }

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  background: transparent;
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    text-decoration: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

::placeholder {
  color: #999;
  opacity: 1; }

* {
  font-family: "Roboto", sans-serif; }

.border {
  grid-row-start: 1; }

.title {
  height: 39px;
  width: 410px;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 24px 0 12px 52px; }

.genre {
  height: 30px;
  width: 98px;
  color: #999;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 8px; }

.details {
  border-top: 4px solid #BED23C;
  width: 540px;
  padding-top: 36px;
  margin-left: 52px; }

.detail {
  height: 22px;
  width: 394px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 36px; }
  .detail strong {
    color: #000;
    padding-right: 8px; }

.image-cover {
  width: 261px;
  height: 368px;
  margin-left: 24px;
  margin-top: 24px; }

.book-cover {
  height: 425px;
  width: 900px;
  background-color: #FFF;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  margin: 30px 0 0 30px;
  display: flex; }

.badge {
  height: 118px;
  width: 84px;
  transform: rotate(15deg);
  position: absolute;
  left: 250px;
  top: 60px; }

.back-button {
  height: 20px;
  width: 59px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  padding-top: 5px;
  padding-left: 30px;
  flex-direction: row; }

.back-button:before {
  content: url("back-arrow-20.png");
  height: 20px;
  width: 20px;
  padding-right: 5px; }

@media only screen and (width: 1024px) {
  .border {
    grid-column-start: 2; }

  .title {
    height: 39px;
    width: 410px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 20px 0 12px 49px;
    display: flex;
    flex-direction: column;
    grid-column-start: 2; }

  .genre {
    height: 30px;
    width: 98px;
    color: #999;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 58px; }

  .details {
    border-top: 0;
    width: 540px;
    padding-top: 136px;
    margin-left: 52px; }

  .detail {
    height: 22px;
    width: 394px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 36px; }

  .image-cover {
    width: 261px;
    height: 368px;
    margin-left: 24px;
    grid-column-start: 1;
    margin-top: 125px; }

  .book-cover {
    height: 569px;
    width: 853px;
    background-color: #FFF;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 30px 0 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }

  .badge {
    height: 118px;
    width: 84px;
    transform: rotate(15deg);
    position: absolute;
    left: 250px;
    top: 140px; }

  .back-button {
    height: 20px;
    width: 59px;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    padding-top: 5px;
    padding-left: 30px;
    flex-direction: row; }

  .back-button:before {
    content: url("back-arrow-20.png");
    height: 20px;
    width: 20px;
    padding-right: 5px; } }
@media only screen and (max-width: 1023px) {
  .title {
    height: 39px;
    width: 251px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    margin: 16px 0 0 78px;
    grid-row-start: 1;
    display: flex;
    flex-direction: column; }

  .genre {
    height: 16px;
    width: 63px;
    color: #999;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    grid-row-start: 3;
    margin: 343px 0 20px 45px; }

  .details {
    border-top: 4px solid #BED23C;
    width: 300px;
    margin: 374px 0 0 18px;
    grid-row-start: 4;
    padding-top: 10px; }

  .detail {
    height: 22px;
    width: 283px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 18px; }

  .image-cover {
    width: 212px;
    height: 298px;
    margin: 0 62px 0 62px; }

  .book-cover {
    height: 570px;
    width: 336px;
    background-color: #FFF;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 71px 300px 53px 144px;
    grid-template-columns: 1fr; }

  .badge {
    height: calc(118px * 0.7);
    width: calc(84px *0.7);
    transform: rotate(15deg);
    margin: 20px 0 0 10px; }

  .back-button {
    height: 20px;
    width: 59px;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: 622px;
    left: 143px; }

  .back-button:before {
    content: url("back-arrow-20.png");
    height: 20px;
    width: 20px;
    padding-right: 5px; } }

/*# sourceMappingURL=application.css.map */
