* {
  font-family: $main-font, sans-serif;
}

.main-containter {
  display: flex;
  justify-content: center;
  margin-top: 36px;;
  
}

.detail {
  display: grid;
  justify-content:space-around;
  grid-template-columns: repeat(4,1fr);
  padding: 0 150px;
  grid-gap: 36px;
}

.book-container {
  height: 300px;
  width: 198px;
  background-color: $background-color;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  transition: transform;
  &:hover{
    transform: scale(1.04);
  }
}


.book-title {
  height: 15px;
  width: 159px;
  color: $equalizer-black;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 28px;
}

.book-author {
  height: 14px;
  width: 159px;
  color: $equalizer-grey;
  font-size: 14px;
  line-height: 8px;
  margin-left: 28px;
}

.cover {
  height: 200px;
  width: 142px;
  margin-top: 28px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 6px solid $border-login;
  box-shadow: 0 4px 10px 0 $shadow; 
}

.logout {
  height: 18px;
  width: 63px;
  color: $equalizer-black;
  font-size: 18px;
  line-height: 21px;
  padding-top: 26px;
  margin-right: 170px;
}

.logo-wolox {
  height: 70px;
  width: 212x;
  margin-left: 170px;
}
