*{
  font-family: $main-font,sans-serif;
}

.section{
  display: flex;
  justify-content: center;
  padding-top: 184px;
}

.main-frame {
  height: 400px;
  width: 300px;
  background-color: $background-grey;
  border-top: 8px solid $border-login;
}

.wolox-logo{
  height: 70px;
  width: 212.42px;
  margin-left: 44px;
  margin-top: 20px;
}
input{
  height: 32px;
  width: 252px;
  border-radius: 5px;
  background-color: $background-color;
  margin-left: 24px;
  margin-top: 8px;
}
.data{
  height: 22px;
  width: 41px;
  color: $equalizer-grey;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 16px;
}
.login{
  background-color: $border-color;
  color: $background-color;
  margin-left: 24px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 32px;
  width: 252px;
  font-size: 16px;
}
.signup{
  height: 32px;
  width: 252px;
  border-radius: 5px;
  background-color: $background-color;
  border: 2px solid $border-color;
  color:$border-color;
  cursor: pointer;
  margin-top: 16px;
  font-size: 16px;
}
.border{
  border-top: 2px solid $equalizer-grey;
  width: 252px;
  margin-left: 24px;
  margin-top: 16px;
}